  @import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');

  * {
      box-sizing: border-box;
  }

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f0f0f0;
      font-family: 'Lumanosimo', 'cursive';
  }

  .container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
  }

  /*small*/
  @media (max-width: 767px) {
      .container {
          width: 100%;
      }

  }

  @media (min-width: 768px) {
      .container {
          width: 750px;
      }

  }

  /*Medium*/
  @media (min-width: 992px) {
      .container {
          width: 750px;
      }
  }

  /*Large*/
  @media (min-width: 1200px) {
      .container {
          width: 1170px;
      }
  }

  .container .game {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 25px;

  }

  .container .game .heading {}

  .container .game .heading h1 {
      font-family: "";
      background-color: #5f5c6d;
      padding: 10px 15px;
      border-radius: 10px;
      color: white;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);

  }

  .container .game .boxes {
      display: flex;
      gap: 20px;
      text-align: center;
      width: 40%;
      margin: auto;
      justify-content: center;
      flex-wrap: wrap;

  }

  @media (max-width: 767px) {
      .container .game .boxes {
          width: 50%;
      }
  }

  @media (max-width: 606px) {
      .container .game .boxes {
          width: 69%;
      }
  }

  @media (max-width: 454px) {
      .container .game .boxes {
          width: 90%;
      }
  }

  .container .game .boxes .box {
      width: 80px;
      height: 80px;
      background-color: #5F5C6D;
      cursor: pointer;
      font-size: 60px;
      color: white;
      border-radius: 15px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  }



  /*button start  */
  .container .game .restartBtn {
      cursor: pointer;
      color: white;
      background-color: #222;
      font-weight: 500;
      border-radius: 0.5rem;
      font-size: 1rem;
      line-height: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      text-align: center;
      margin-right: 0.5rem;
      display: inline-flex;
      align-items: center;
      border: none;
  }

  .container .game .restartBtn:hover {
      background-color: #333;
  }

  .container .game .restartBtn svg {
      display: inline;
      width: 1.3rem;
      height: 1.3rem;
      margin-right: 0.75rem;
      color: white;
  }

  .container .game .restartBtn:focus svg {
      animation: spin_357 0.5s linear;
  }

  @keyframes spin_357 {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
  }


  /*button end  */
  /* Start  x and o style */



  .x,
  .o {
      width: 80px;
      height: 80px;
      font-size: 72px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  }

  /* End  x and o style */